In [1]:
import os
import pandas as pd

In [2]:
os.chdir("D:\Projects\LEGO\Scrapy")

In [3]:
df = pd.read_csv("2018.csv")
df.head()

,name,price,set_ID,rating
0,Downtown Diner,"$169.99, 149.99€ | ,6.9c, 6.0c,Box,LEGO exclus...",10260:,4.4
1,Roller Coaster,"$379.99, 329.99€ | ,9.2c, 8.0c,Box,LEGO exclus...",10261:,4.4
2,James Bond Aston Martin DB5,"$149.99, 149.99€ | ,11.6c, 11.6c,Box,LEGO excl...",10262:,4.4
3,Winter Village Fire Station,"$99.99, 89.99€ | ,8.6c, 7.7c,Box,Retail - limi...",10263:,4.4
4,Vestas Wind Turbine,"$199.99, 179.99€ | ,24.2c, 21.8c,Box,Retail - ...",10268:,4.4

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 788 entries, 0 to 787
Data columns (total 4 columns):
name      788 non-null object
price     512 non-null object
set_ID    734 non-null object
rating    750 non-null float64
dtypes: float64(1), object(3)
memory usage: 24.7+ KB

In [5]:
# replace NaN with missing
df.price = df.price.fillna("missing")

In [6]:
df.head()

,name,price,set_ID,rating
0,Downtown Diner,"$169.99, 149.99€ | ,6.9c, 6.0c,Box,LEGO exclus...",10260:,4.4
1,Roller Coaster,"$379.99, 329.99€ | ,9.2c, 8.0c,Box,LEGO exclus...",10261:,4.4
2,James Bond Aston Martin DB5,"$149.99, 149.99€ | ,11.6c, 11.6c,Box,LEGO excl...",10262:,4.4
3,Winter Village Fire Station,"$99.99, 89.99€ | ,8.6c, 7.7c,Box,Retail - limi...",10263:,4.4
4,Vestas Wind Turbine,"$199.99, 179.99€ | ,24.2c, 21.8c,Box,Retail - ...",10268:,4.4

In [7]:
def price_us(txt):
    
    lst = txt.split(",")
    price = "missing"
    for item in lst:
        if '$' in item:
            price = float(item.replace("$","").replace("|","").strip())
            break
        elif "€" in item:
            price = round(float(item.replace("€","").replace("|","").strip())*1.13,2)
            break
    return price

In [8]:
df['price_USD'] = df.price.apply(price_us)

In [9]:
df.head()

,name,price,set_ID,rating,price_USD
0,Downtown Diner,"$169.99, 149.99€ | ,6.9c, 6.0c,Box,LEGO exclus...",10260:,4.4,169.99
1,Roller Coaster,"$379.99, 329.99€ | ,9.2c, 8.0c,Box,LEGO exclus...",10261:,4.4,379.99
2,James Bond Aston Martin DB5,"$149.99, 149.99€ | ,11.6c, 11.6c,Box,LEGO excl...",10262:,4.4,149.99
3,Winter Village Fire Station,"$99.99, 89.99€ | ,8.6c, 7.7c,Box,Retail - limi...",10263:,4.4,99.99
4,Vestas Wind Turbine,"$199.99, 179.99€ | ,24.2c, 21.8c,Box,Retail - ...",10268:,4.4,199.99