In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir("D:\Projects\LEGO\Rebrickable")
price = pd.read_csv("price.csv")
price.head()

,name,price,set_ID,rating,price_USD,year
0,2 X 8 Bricks,"9,$0.50 ,5.6c,Box,Retail,Normal","""215""",4.0,0.5,1961
1,4 x 4 Corner Bricks,"10,$0.50 ,5.0c,Box,Retail,Normal","""217""",4.0,0.5,1961
2,2 x 4 Bricks,"20,$0.50 ,2.5c,Box,Retail,Normal","""218""",4.0,0.5,1961
3,2 X 3 Bricks,"24,$0.50 ,2.1c,Box,Retail,Normal","""219""",4.0,0.5,1961
4,2 X 2 Bricks,"33,$0.50 ,1.5c,Box,Retail,Normal","""220""",4.0,0.5,1961

In [10]:
list(price[price.year == 2009].set_ID)

['"3594"',
 '"3595"',
 '"3596"',
 '"3597"',
 '"3833"',
 '"3834"',
 '"3835"',
 '"3836"',
 '"3837"',
 '"3838"',
 '"3839"',
 '"3840"',
 '"3841"',
 '"3843"',
 '"3844"',
 '"5486"',
 '"5487"',
 '"5488"',
 '"5489"',
 '"5538"',
 '"5539"',
 '"5545"',
 '"5546"',
 '"5547"',
 '"5560"',
 '"5587"',
 '"5592"',
 '"5594"',
 '"5595"',
 '"5632"',
 '"5633"',
 '"5634"',
 '"5635"',
 '"5636"',
 '"5637"',
 '"5638"',
 '"5639"',
 '"5640"',
 '"5641"',
 '"5969"',
 '"5970"',
 '"5971"',
 '"5972"',
 '"5973"',
 '"5974"',
 '"5979"',
 '"5980"',
 '"6191"',
 '"6192"',
 '"6193"',
 '"6194"',
 '"6239"',
 '"6240"',
 '"6241"',
 '"6242"',
 '"6243"',
 '"6253"',
 '"6741"',
 '"6742"',
 '"6743"',
 '"6745"',
 '"6747"',
 '"6751"',
 '"6752"',
 '"6753"',
 '"6754"',
 '"7078"',
 '"7079"',
 '"7097"',
 '"7195"',
 '"7196"',
 '"7197"',
 '"7198"',
 '"7199"',
 '"7630"',
 '"7631"',
 '"7632"',
 '"7633"',
 '"7634"',
 '"7635"',
 '"7636"',
 '"7637"',
 '"7638"',
 '"7639"',
 '"7641"',
 '"7642"',
 '"7682"',
 '"7683"',
 '"7685"',
 '"7686"',
 '"7687"',
 '"7746"',
 '"7747"',
 '"7748"',
 '"7749"',
 '"7751"',
 '"7752"',
 '"7753"',
 '"7754"',
 '"7778"',
 '"7802"',
 '"8014"',
 '"8015"',
 '"8016"',
 '"8017"',
 '"8018"',
 '"8019"',
 '"8033"',
 '"8036"',
 '"8037"',
 '"8038"',
 '"8039"',
 '"8063"',
 '"8119"',
 '"8120"',
 '"8121"',
 '"8122"',
 '"8123"',
 '"8124"',
 '"8125"',
 '"8126"',
 '"8162"',
 '"8163"',
 '"8164"',
 '"8165"',
 '"8166"',
 '"8167"',
 '"8168"',
 '"8169"',
 '"8182"',
 '"8183"',
 '"8185"',
 '"8186"',
 '"8256"',
 '"8258"',
 '"8259"',
 '"8260"',
 '"8261"',
 '"8262"',
 '"8263"',
 '"8264"',
 '"8265"',
 '"8396"',
 '"8397"',
 '"8398"',
 '"8399"',
 '"8400"',
 '"8401"',
 '"8402"',
 '"8547"',
 '"8707"',
 '"8708"',
 '"8709"',
 '"8866"',
 '"8867"',
 '"8869"',
 '"8870"',
 '"8871"',
 '"8878"',
 '"8879"',
 '"8887"',
 '"8956"',
 '"8957"',
 '"8958"',
 '"8959"',
 '"8960"',
 '"8961"',
 '"8962"',
 '"8963"',
 '"8964"',
 '"8967"',
 '"8968"',
 '"8969"',
 '"8970"',
 '"8971"',
 '"8972"',
 '"8973"',
 '"8974"',
 '"8975"',
 '"8976"',
 '"8977"',
 '"8978"',
 '"8979"',
 '"8980"',
 '"8981"',
 '"8982"',
 '"8983"',
 '"8984"',
 '"8985"',
 '"8986"',
 '"8987"',
 '"8988"',
 '"8989"',
 '"8990"',
 '"8991"',
 '"8992"',
 '"8993"',
 '"8994"',
 '"8995"',
 '"8996"',
 '"8998"',
 '"9077"',
 '"9078"',
 '"9079"',
 '"9580"',
 '"9686"',
 '"10193"',
 '"10194"',
 '"10195"',
 '"10196"',
 '"10197"',
 '"10198"',
 '"10199"',
 '"10287"',
 '"21002"',
 '"21003"',
 '"21004"',
 '"21005"',
 '"30002"',
 '"30005"',
 '"30008"',
 '"30009"',
 '"40000"',
 '"40001"',
 '"40002"',
 '"40003"',
 '"852227"',
 '"852490"',
 '"852495"',
 '"852496"',
 '"852497"',
 '"852504"',
 '"852505"',
 '"852506"',
 '"852512"',
 '"852513"',
 '"852517"',
 '"852520"',
 '"852521"',
 '"852522"',
 '"852524"',
 '"852525"',
 '"852527"',
 '"852528"',
 '"852529"',
 '"852530"',
 '"852535"',
 '"852543"',
 '"852544"',
 '"852545"',
 '"852547"',
 '"852548"',
 '"852549"',
 '"852550"',
 '"852551"',
 '"852552"',
 '"852553"',
 '"852555"',
 '"852673"',
 '"852676"',
 '"852678"',
 '"852685"',
 '"852688"',
 '"852689"',
 '"852695"',
 '"852696"',
 '"852697"',
 '"852701"',
 '"852702"',
 '"852703"',
 '"852706"',
 '"852708"',
 '"852709"',
 '"852713"',
 '"852714"',
 '"852715"',
 '"852716"',
 '"852717"',
 '"852718"',
 '"852719"',
 '"852733"',
 '"852737"',
 '"852741"',
 '"852742"',
 '"852744"',
 '"852745"',
 '"852747"',
 '"852748"',
 '"852749"',
 '"852750"',
 '"852753"',
 '"852754"',
 '"852759"',
 '"852760"',
 '"852761"',
 '"852762"',
 '"852763"',
 '"852764"',
 '"852765"',
 '"2851070"',
 '"2851126"',
 '"2851134"',
 '"2851135"',
 '"2851185"',
 '"2851190"',
 '"2851191"',
 '"2851192"',
 '"2851193"',
 '"2851194"',
 '"2851195"',
 '"2851196"',
 '"2851198"',
 '"2853367"',
 '"2853399"',
 '"2853401"',
 '"2853586"',
 '"2853587"',
 '"2853591"',
 '"2853592"',
 '"2853593"',
 '"2853594"',
 '"2853595"',
 '"2853596"',
 '"2853597"',
 '"2853656"',
 '"4580307"']

### Adjust price with inflation

In [7]:
CPI = pd.read_csv("CPI.csv")
CPI.DATE = pd.to_datetime(CPI.DATE)
CPI["year"] = CPI.DATE.apply(lambda d: d.year)
CPI_year = CPI.groupby("year",as_index=False).agg("mean")
base = float(CPI_year[CPI_year.year == 2019].CPIAUCSL)
CPI_year["Index_19"] = CPI_year.CPIAUCSL.apply(lambda i: base/i)
CPI_year.head()

   year   CPIAUCSL   Index_19
0  1947  22.331667  11.374404
1  1948  24.045000  10.563918
2  1949  23.809167  10.668555
3  1950  24.062500  10.556235
4  1951  25.973333   9.779623

In [8]:
# combine price with CPI
price = price.merge(CPI_year.drop("CPIAUCSL",axis=1),on="year",how="left")

In [9]:
price["price_adjust"] = price.price_USD * price.Index_19
price["price_adjust"] = price["price_adjust"].apply(lambda i: round(i,2))
price.head()

,name,price,set_ID,rating,price_USD,year,Index_19,price_adjust
0,2 X 8 Bricks,"9,$0.50 ,5.6c,Box,Retail,Normal","""215""",4.0,0.5,1961,8.494824,4.25
1,4 x 4 Corner Bricks,"10,$0.50 ,5.0c,Box,Retail,Normal","""217""",4.0,0.5,1961,8.494824,4.25
2,2 x 4 Bricks,"20,$0.50 ,2.5c,Box,Retail,Normal","""218""",4.0,0.5,1961,8.494824,4.25
3,2 X 3 Bricks,"24,$0.50 ,2.1c,Box,Retail,Normal","""219""",4.0,0.5,1961,8.494824,4.25
4,2 X 2 Bricks,"33,$0.50 ,1.5c,Box,Retail,Normal","""220""",4.0,0.5,1961,8.494824,4.25

### Pieces data

In [11]:
os.chdir("D:\Projects\LEGO\Pieces")
files = os.listdir()
# transfer into dataframes
df_lst = [pd.read_csv(file) for file in files]
filenames = [file.split(".")[0] for file in files]
df_dic = dict(zip(filenames,df_lst))

In [12]:
# clean datasets with the same structure
def clean_data(file):
    df = df_dic[file]
    
    # create a new column called year
    df['year'] = int(file)
    
    # delete ":" in set_ID
    df['set_ID'] = df['set_ID'].str.replace(":","")
    df['set_ID'] = df['set_ID'].str.strip()
    
    return df

In [13]:
# iterate over all dataframes
df_clean = [clean_data(file) for file in filenames]
pcs = pd.concat(df_clean)
print(pcs.shape)

(15698, 3)

In [14]:
pcs = pcs.dropna()

In [15]:
pcs.set_ID = pcs.set_ID.apply('"{}"'.format)

In [16]:
list(pcs[pcs.year == 2009].set_ID)

['"3594"',
 '"3595"',
 '"3596"',
 '"3597"',
 '"3833"',
 '"3834"',
 '"3835"',
 '"3836"',
 '"3837"',
 '"3838"',
 '"3839"',
 '"3840"',
 '"3841"',
 '"3842"',
 '"3843"',
 '"3844"',
 '"4899"',
 '"5486"',
 '"5487"',
 '"5488"',
 '"5489"',
 '"5538"',
 '"5539"',
 '"5545"',
 '"5546"',
 '"5547"',
 '"5560"',
 '"5586"',
 '"5587"',
 '"5588"',
 '"5589"',
 '"5592"',
 '"5594"',
 '"5595"',
 '"5632"',
 '"5633"',
 '"5634"',
 '"5635"',
 '"5636"',
 '"5637"',
 '"5638"',
 '"5639"',
 '"5640"',
 '"5641"',
 '"5642"',
 '"5969"',
 '"5970"',
 '"5971"',
 '"5972"',
 '"5973"',
 '"5974"',
 '"5979"',
 '"5980"',
 '"6191"',
 '"6192"',
 '"6193"',
 '"6194"',
 '"6239"',
 '"6240"',
 '"6241"',
 '"6242"',
 '"6243"',
 '"6253"',
 '"6299"',
 '"6741"',
 '"6742"',
 '"6743"',
 '"6745"',
 '"6747"',
 '"6751"',
 '"6752"',
 '"6753"',
 '"6754"',
 '"7078"',
 '"7079"',
 '"7097"',
 '"7195"',
 '"7196"',
 '"7197"',
 '"7198"',
 '"7199"',
 '"7615"',
 '"7616"',
 '"7630"',
 '"7631"',
 '"7632"',
 '"7633"',
 '"7634"',
 '"7635"',
 '"7636"',
 '"7637"',
 '"7638"',
 '"7639"',
 '"7641"',
 '"7642"',
 '"7643"',
 '"7682"',
 '"7683"',
 '"7685"',
 '"7686"',
 '"7687"',
 '"7746"',
 '"7747"',
 '"7748"',
 '"7749"',
 '"7751"',
 '"7752"',
 '"7753"',
 '"7754"',
 '"7778"',
 '"7800"',
 '"7801"',
 '"7802"',
 '"7803"',
 '"7804"',
 '"7805"',
 '"7808"',
 '"8014"',
 '"8015"',
 '"8016"',
 '"8017"',
 '"8018"',
 '"8019"',
 '"8033"',
 '"8036"',
 '"8037"',
 '"8038"',
 '"8039"',
 '"8063"',
 '"8119"',
 '"8120"',
 '"8121"',
 '"8122"',
 '"8123"',
 '"8124"',
 '"8125"',
 '"8126"',
 '"8162"',
 '"8163"',
 '"8164"',
 '"8165"',
 '"8166"',
 '"8167"',
 '"8168"',
 '"8169"',
 '"8182"',
 '"8183"',
 '"8184"',
 '"8185"',
 '"8186"',
 '"8256"',
 '"8258"',
 '"8259"',
 '"8260"',
 '"8261"',
 '"8262"',
 '"8263"',
 '"8264"',
 '"8265"',
 '"8396"',
 '"8397"',
 '"8398"',
 '"8399"',
 '"8400"',
 '"8401"',
 '"8402"',
 '"8547"',
 '"8707"',
 '"8708"',
 '"8709"',
 '"8866"',
 '"8867"',
 '"8869"',
 '"8870"',
 '"8871"',
 '"8878"',
 '"8879"',
 '"8887"',
 '"8907"',
 '"8908"',
 '"8956"',
 '"8957"',
 '"8958"',
 '"8959"',
 '"8960"',
 '"8961"',
 '"8962"',
 '"8963"',
 '"8964"',
 '"8967"',
 '"8968"',
 '"8969"',
 '"8970"',
 '"8971"',
 '"8972"',
 '"8973"',
 '"8974"',
 '"8975"',
 '"8976"',
 '"8977"',
 '"8978"',
 '"8979"',
 '"8980"',
 '"8981"',
 '"8982"',
 '"8983"',
 '"8984"',
 '"8985"',
 '"8986"',
 '"8987"',
 '"8988"',
 '"8989"',
 '"8990"',
 '"8991"',
 '"8992"',
 '"8993"',
 '"8994"',
 '"8995"',
 '"8996"',
 '"8998"',
 '"9077"',
 '"9078"',
 '"9079"',
 '"9580"',
 '"9581"',
 '"9583"',
 '"9686"',
 '"9690"',
 '"9999"',
 '"10193"',
 '"10194"',
 '"10195"',
 '"10196"',
 '"10197"',
 '"10198"',
 '"10199"',
 '"10287"',
 '"20007"',
 '"20008"',
 '"20009"',
 '"20010"',
 '"20011"',
 '"20012"',
 '"21002"',
 '"21003"',
 '"21004"',
 '"21005"',
 '"30000"',
 '"30001"',
 '"30002"',
 '"30003"',
 '"30004"',
 '"30005"',
 '"30006"',
 '"30008"',
 '"30009"',
 '"40000"',
 '"40001"',
 '"40002"',
 '"40003"',
 '"852535"',
 '"852697"',
 '"852701"',
 '"852702"',
 '"852747"',
 '"852753"',
 '"4540315"',
 '"4547551"']

### merge piece with price

In [17]:
pcs.head()

  piece set_ID  year
0     1  "215"  1961
1     1  "216"  1961
2     1  "217"  1961
3     2  "218"  1961
4     4  "219"  1961

In [18]:
price.head()

,name,price,set_ID,rating,price_USD,year,Index_19,price_adjust
0,2 X 8 Bricks,"9,$0.50 ,5.6c,Box,Retail,Normal","""215""",4.0,0.5,1961,8.494824,4.25
1,4 x 4 Corner Bricks,"10,$0.50 ,5.0c,Box,Retail,Normal","""217""",4.0,0.5,1961,8.494824,4.25
2,2 x 4 Bricks,"20,$0.50 ,2.5c,Box,Retail,Normal","""218""",4.0,0.5,1961,8.494824,4.25
3,2 X 3 Bricks,"24,$0.50 ,2.1c,Box,Retail,Normal","""219""",4.0,0.5,1961,8.494824,4.25
4,2 X 2 Bricks,"33,$0.50 ,1.5c,Box,Retail,Normal","""220""",4.0,0.5,1961,8.494824,4.25

In [20]:
price_all = price.merge(pcs,how="left",on=["set_ID","year"])

In [25]:
price_all["pcs_num"] = price_all["price"].apply(lambda i: i.split(",")[0])

In [27]:
def adjust_pcs(item):
    if ("$" in item) or ("â‚¬" in item):
        item = np.nan
    return item

In [28]:
price_all.pcs_num = price_all.pcs_num.apply(adjust_pcs)

In [30]:
price_all.pcs_num = price_all.pcs_num.fillna(price_all.piece)

In [40]:
price_all[price_all.year == 2009]

,name,price,set_ID,rating,price_USD,year,Index_19,price_adjust,piece,pcs_num
3833,Bob's Workshop,"$14.99 | ,107.1c,USA: May 09, UK/EU: Mar 09,No...","""3594""",5.0,14.99,2009,1.183836,17.75,14,14
3834,Scoop at Bobland Bay,"$19.99 | ,71.4c,USA: May 09, UK/EU: Mar 09,Normal","""3595""",5.0,19.99,2009,1.183836,23.66,28,28
3835,Muck Can Do It,"$29.99 | ,76.9c,USA: Jun 09, UK/EU: Mar 09,Normal","""3596""",5.0,29.99,2009,1.183836,35.50,39,39
3836,Lofty and Dizzy Hard At Work,"$39.99 | ,78.4c,USA: May 09, UK/EU: Mar 09,Normal","""3597""",5.0,39.99,2009,1.183836,47.34,51,51
3837,Krusty Krab Adventures,"$24.99 | ,12.0c,Box,Retail,USA: Dec 08, UK/EU:...","""3833""",5.0,24.99,2009,1.183836,29.58,209,209
3838,Good Neighbours at Bikini Bottom,"$39.99 | ,9.4c,Box,Retail,USA: Dec 08, UK/EU: ...","""3834""",5.0,39.99,2009,1.183836,47.34,425,425
3839,Robo Champ,"$4.99 | ,4.2c,Box,Retail,USA: Jun 10, UK/EU: J...","""3835""",5.0,4.99,2009,1.183836,5.91,118,118
3840,Magikus,"$9.99 | ,9.3c,Box,Retail,USA: Jun 10, UK/EU: J...","""3836""",5.0,9.99,2009,1.183836,11.83,108,108
3841,Monster 4,"$14.99 | ,10.6c,Box,Retail,USA: Mar 10, UK/EU:...","""3837""",5.0,14.99,2009,1.183836,17.75,141,141
3842,Lava Dragon,"$14.99 | ,11.4c,Box,Retail,USA: Mar 10, UK/EU:...","""3838""",5.0,14.99,2009,1.183836,17.75,131,131
3843,Race 3000,"$9.99 | ,6.0c,Box,Retail,USA: Jun 10, UK/EU: J...","""3839""",5.0,9.99,2009,1.183836,11.83,166,166
3844,Pirate Code,"$9.99 | ,3.7c,Box,Retail,USA: Mar 10, UK/EU: J...","""3840""",5.0,9.99,2009,1.183836,11.83,268,268
3845,Minotaurus,"$24.99 | ,11.8c,Box,Retail,USA: Mar 10, UK/EU:...","""3841""",5.0,24.99,2009,1.183836,29.58,211,211
3846,Ramses Pyramid,"$9.99 | ,4.6c,Box,Retail,USA: Jun 10, UK/EU: J...","""3843""",5.0,9.99,2009,1.183836,11.83,217,217
3847,Creationary,"$34.99 | ,10.4c,Box,Retail,USA: Mar 10, UK/EU:...","""3844""",5.0,34.99,2009,1.183836,41.42,338,338
3848,Fun With Duplo Bricks,"$29.99 | ,33.3c,USA: May 09, UK/EU: Jun 09,Normal","""5486""",5.0,29.99,2009,1.183836,35.50,90,90
3849,Fun With LEGO Bricks,"$29.99 | ,4.3c,Box,Retail,USA: May 09, UK/EU: ...","""5487""",5.0,29.99,2009,1.183836,35.50,700,700
3850,Duplo Farm Building Set,"$39.99 | ,39.2c,USA: May 09, UK/EU: Jun 09,Normal","""5488""",5.0,39.99,2009,1.183836,47.34,102,102
3851,Ultimate LEGO Vehicle Building Set,"$44.99 | ,6.7c,Tub,Retail,USA: Jun 09, UK/EU: ...","""5489""",5.0,44.99,2009,1.183836,53.26,675,675
3852,Duplo Creative Bucket,"$29.99 | ,39.5c,Bucket,Retail,USA: May 09, UK/...","""5538""",5.0,29.99,2009,1.183836,35.50,76,76
3853,Creative Bucket,"$29.99 | ,6.2c,Bucket,Retail,USA: Dec 08, UK/E...","""5539""",5.0,29.99,2009,1.183836,35.50,480,480
3854,Stanley at Great Waterton,"$19.99 | ,105.2c,Box,Retail,USA: May 09, UK/EU...","""5545""",2.0,19.99,2009,1.183836,23.66,19,19
3855,Thomas at Morgan's Mine,"$29.99 | ,136.3c,Box,Retail,USA: May 09, UK/EU...","""5546""",2.0,29.99,2009,1.183836,35.50,22,22
3856,James Celebrates Sodor Day,"$29.99 | ,88.2c,Box,Retail,USA: May 09, UK/EU:...","""5547""",2.0,29.99,2009,1.183836,35.50,34,34
3857,Large Pink Brick Box,"$29.99 | ,7.5c,Tub,Retail,USA: May 09, UK/EU: ...","""5560""",2.0,29.99,2009,1.183836,35.50,402,402
3858,Basic Bricks with Fun Figures,"$19.99 | ,5.1c,Box,Retail,USA: Dec 08, UK/EU: ...","""5587""",2.0,19.99,2009,1.183836,23.66,390,390
3859,My First Plane,"$14.99 | ,187.4c,USA: Jun 09, UK/EU: Jun 09,No...","""5592""",2.0,14.99,2009,1.183836,17.75,8,8
3860,Cargo Plane,"$49.99 | ,178.5c,USA: May 09, UK/EU: Jun 09,No...","""5594""",2.0,49.99,2009,1.183836,59.18,28,28
3861,Airport,"$89.99 | ,152.5c,USA: Aug 09, UK/EU: Aug 09,No...","""5595""",2.0,89.99,2009,1.183836,106.53,59,59
3862,Animal Care,"$7.99 | ,199.8c,USA: May 09, UK/EU: Mar 09,Normal","""5632""",2.0,7.99,2009,1.183836,9.46,4,4
...,...,...,...,...,...,...,...,...,...,...
4129,LEGO Star Wars Stormtrooper T-shirt,"$16.99 | ,USA: Jul 09,Gear","""852763""",4.0,16.99,2009,1.183836,20.11,NaN,NaN
4130,LEGO Star Wars Darth Vader T-shirt,"$16.99 | ,USA: Jul 09,Gear","""852764""",4.0,16.99,2009,1.183836,20.11,NaN,NaN
4131,LEGO Star Wars 10yr Anniversary T-shirt,"$16.99 | ,USA: Aug 09,Gear","""852765""",4.0,16.99,2009,1.183836,20.11,NaN,NaN
4132,LEGO Star Wars Jango Fett Pen,"$9.99 | ,USA: Feb 09,Gear","""2851070""",4.0,9.99,2009,1.183836,11.83,NaN,NaN
4133,LEGO Star Wars Darth Maul Pen,"$9.99 | ,USA: Feb 09,Gear","""2851126""",4.0,9.99,2009,1.183836,11.83,NaN,NaN
4134,LEGO Star Wars Luke Skywalker Pen,"$9.99 | ,USA: Feb 09,Gear","""2851134""",4.0,9.99,2009,1.183836,11.83,NaN,NaN
4135,LEGO Star Wars Tusken Raider Pen,"$9.99 | ,USA: Feb 09,Gear","""2851135""",4.0,9.99,2009,1.183836,11.83,NaN,NaN
4136,Stormtrooper Adult Watch,"$29.99 | ,USA: Feb 09, UK/EU: Feb 09,Gear","""2851185""",4.0,29.99,2009,1.183836,35.50,NaN,NaN
4137,Darth Vader Adult Watch,"$29.99 | ,USA: Feb 09, UK/EU: Feb 09,Gear","""2851190""",4.0,29.99,2009,1.183836,35.50,NaN,NaN
4138,Obi-Wan Kenobi Adult Watch,"$29.99 | ,USA: Jun 09, UK/EU: Feb 09,Gear","""2851191""",4.0,29.99,2009,1.183836,35.50,NaN,NaN
4139,C-3PO Watch,"$19.99 | ,USA: Feb 09, UK/EU: Jan 09,Gear","""2851192""",4.0,19.99,2009,1.183836,23.66,NaN,NaN
4140,Darth Maul Watch,"$24.99 | ,USA: Feb 09, UK/EU: Jan 09,Gear","""2851193""",4.0,24.99,2009,1.183836,29.58,NaN,NaN
4141,Han Solo Watch,"$19.99 | ,USA: Feb 09, UK/EU: Jan 09,Gear","""2851194""",4.0,19.99,2009,1.183836,23.66,NaN,NaN
4142,Obi-Wan Kenobi Watch,"$19.99 | ,USA: Feb 09, UK/EU: Jan 09,Gear","""2851195""",4.0,19.99,2009,1.183836,23.66,NaN,NaN
4143,Classic Brick Adult Watch,"$29.99 | ,USA: Feb 09, UK/EU: Jan 09,Gear","""2851196""",4.0,29.99,2009,1.183836,35.50,NaN,NaN
4144,Luke Skywalker & Han Solo Adult Watch,"$29.99 | ,USA: Feb 09, UK/EU: Feb 09,Gear","""2851198""",4.0,29.99,2009,1.183836,35.50,NaN,NaN
4145,BIONICLE: The Legend Reborn,"$19.99 | ,USA: Sep 09, UK/EU: Oct 09,Gear","""2853367""",4.0,19.99,2009,1.183836,23.66,NaN,NaN
4146,Space Police Watch,"$19.99 | ,USA: Nov 09, UK/EU: Nov 09,Gear","""2853399""",4.0,19.99,2009,1.183836,23.66,NaN,NaN
4147,Power Miners Watch,"$19.99 | ,USA: Nov 09, UK/EU: Nov 09,Gear","""2853401""",4.0,19.99,2009,1.183836,23.66,NaN,NaN
4148,LEGO Rock Band,"$39.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853586""",4.0,39.99,2009,1.183836,47.34,NaN,NaN
4149,LEGO Rock Band,"$19.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853587""",4.0,19.99,2009,1.183836,23.66,NaN,NaN
4150,LEGO Rock Band,"$39.99 | ,USA: Nov 09, UK/EU: Jan 10,Gear","""2853591""",4.0,39.99,2009,1.183836,47.34,NaN,NaN
4151,LEGO Rock Band,"$39.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853592""",4.0,39.99,2009,1.183836,47.34,NaN,NaN
4152,LEGO Indiana Jones 2: The Adventure Continues,"$49.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853593""",4.0,49.99,2009,1.183836,59.18,NaN,NaN
4153,LEGO Indiana Jones 2: The Adventure Continues,"$49.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853594""",4.0,49.99,2009,1.183836,59.18,NaN,NaN
4154,LEGO Indiana Jones 2: The Adventure Continues,"$29.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853595""",4.0,29.99,2009,1.183836,35.50,NaN,NaN
4155,LEGO Indiana Jones 2: The Adventure Continues,"$49.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853596""",4.0,49.99,2009,1.183836,59.18,NaN,NaN
4156,LEGO Indiana Jones 2: The Adventure Continues,"$29.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853597""",5.0,29.99,2009,1.183836,35.50,NaN,NaN
4157,3-Seat Playtable,"$299.99 | ,USA: Nov 09,Gear","""2853656""",5.0,299.99,2009,1.183836,355.14,NaN,NaN
4158,LEGO Battles,"$29.99 | ,USA: Jun 09,Gear","""4580307""",5.0,29.99,2009,1.183836,35.50,NaN,NaN

In [38]:
price_all.pcs_num = price_all.pcs_num.apply(lambda i: np.nan if i == "More" else i)

In [41]:
price_all.pcs_num = pd.to_numeric(price_all.pcs_num)

In [42]:
price_all = price_all.drop("piece",axis=1)

In [43]:
price_all["price_per_pcs"] = price_all.price_adjust/price_all.pcs_num

In [44]:
price_all["price_per_pcs"] = price_all["price_per_pcs"].apply(lambda i: round(i,2))
price_all.head()

,name,price,set_ID,rating,price_USD,year,Index_19,price_adjust,pcs_num,price_per_pcs
0,2 X 8 Bricks,"9,$0.50 ,5.6c,Box,Retail,Normal","""215""",4.0,0.5,1961,8.494824,4.25,9.0,0.47
1,4 x 4 Corner Bricks,"10,$0.50 ,5.0c,Box,Retail,Normal","""217""",4.0,0.5,1961,8.494824,4.25,10.0,0.42
2,2 x 4 Bricks,"20,$0.50 ,2.5c,Box,Retail,Normal","""218""",4.0,0.5,1961,8.494824,4.25,20.0,0.21
3,2 X 3 Bricks,"24,$0.50 ,2.1c,Box,Retail,Normal","""219""",4.0,0.5,1961,8.494824,4.25,24.0,0.18
4,2 X 2 Bricks,"33,$0.50 ,1.5c,Box,Retail,Normal","""220""",4.0,0.5,1961,8.494824,4.25,33.0,0.13

In [45]:
price_all["ppp_nominal"] = price_all.price_USD/price_all.pcs_num
price_all["ppp_nominal"] = price_all["ppp_nominal"].apply(lambda i: round(i,2))

In [46]:
price_all.head()

,name,price,set_ID,rating,price_USD,year,Index_19,price_adjust,pcs_num,price_per_pcs,ppp_nominal
0,2 X 8 Bricks,"9,$0.50 ,5.6c,Box,Retail,Normal","""215""",4.0,0.5,1961,8.494824,4.25,9.0,0.47,0.06
1,4 x 4 Corner Bricks,"10,$0.50 ,5.0c,Box,Retail,Normal","""217""",4.0,0.5,1961,8.494824,4.25,10.0,0.42,0.05
2,2 x 4 Bricks,"20,$0.50 ,2.5c,Box,Retail,Normal","""218""",4.0,0.5,1961,8.494824,4.25,20.0,0.21,0.03
3,2 X 3 Bricks,"24,$0.50 ,2.1c,Box,Retail,Normal","""219""",4.0,0.5,1961,8.494824,4.25,24.0,0.18,0.02
4,2 X 2 Bricks,"33,$0.50 ,1.5c,Box,Retail,Normal","""220""",4.0,0.5,1961,8.494824,4.25,33.0,0.13,0.02

In [47]:
price_all.isna().sum()

name                0
price               0
set_ID              0
rating            190
price_USD           0
year                0
Index_19            0
price_adjust        0
pcs_num          1477
price_per_pcs    1477
ppp_nominal      1477
dtype: int64

In [48]:
price_all[price_all.year == 2009]

,name,price,set_ID,rating,price_USD,year,Index_19,price_adjust,pcs_num,price_per_pcs,ppp_nominal
3833,Bob's Workshop,"$14.99 | ,107.1c,USA: May 09, UK/EU: Mar 09,No...","""3594""",5.0,14.99,2009,1.183836,17.75,14.0,1.27,1.07
3834,Scoop at Bobland Bay,"$19.99 | ,71.4c,USA: May 09, UK/EU: Mar 09,Normal","""3595""",5.0,19.99,2009,1.183836,23.66,28.0,0.84,0.71
3835,Muck Can Do It,"$29.99 | ,76.9c,USA: Jun 09, UK/EU: Mar 09,Normal","""3596""",5.0,29.99,2009,1.183836,35.50,39.0,0.91,0.77
3836,Lofty and Dizzy Hard At Work,"$39.99 | ,78.4c,USA: May 09, UK/EU: Mar 09,Normal","""3597""",5.0,39.99,2009,1.183836,47.34,51.0,0.93,0.78
3837,Krusty Krab Adventures,"$24.99 | ,12.0c,Box,Retail,USA: Dec 08, UK/EU:...","""3833""",5.0,24.99,2009,1.183836,29.58,209.0,0.14,0.12
3838,Good Neighbours at Bikini Bottom,"$39.99 | ,9.4c,Box,Retail,USA: Dec 08, UK/EU: ...","""3834""",5.0,39.99,2009,1.183836,47.34,425.0,0.11,0.09
3839,Robo Champ,"$4.99 | ,4.2c,Box,Retail,USA: Jun 10, UK/EU: J...","""3835""",5.0,4.99,2009,1.183836,5.91,118.0,0.05,0.04
3840,Magikus,"$9.99 | ,9.3c,Box,Retail,USA: Jun 10, UK/EU: J...","""3836""",5.0,9.99,2009,1.183836,11.83,108.0,0.11,0.09
3841,Monster 4,"$14.99 | ,10.6c,Box,Retail,USA: Mar 10, UK/EU:...","""3837""",5.0,14.99,2009,1.183836,17.75,141.0,0.13,0.11
3842,Lava Dragon,"$14.99 | ,11.4c,Box,Retail,USA: Mar 10, UK/EU:...","""3838""",5.0,14.99,2009,1.183836,17.75,131.0,0.14,0.11
3843,Race 3000,"$9.99 | ,6.0c,Box,Retail,USA: Jun 10, UK/EU: J...","""3839""",5.0,9.99,2009,1.183836,11.83,166.0,0.07,0.06
3844,Pirate Code,"$9.99 | ,3.7c,Box,Retail,USA: Mar 10, UK/EU: J...","""3840""",5.0,9.99,2009,1.183836,11.83,268.0,0.04,0.04
3845,Minotaurus,"$24.99 | ,11.8c,Box,Retail,USA: Mar 10, UK/EU:...","""3841""",5.0,24.99,2009,1.183836,29.58,211.0,0.14,0.12
3846,Ramses Pyramid,"$9.99 | ,4.6c,Box,Retail,USA: Jun 10, UK/EU: J...","""3843""",5.0,9.99,2009,1.183836,11.83,217.0,0.05,0.05
3847,Creationary,"$34.99 | ,10.4c,Box,Retail,USA: Mar 10, UK/EU:...","""3844""",5.0,34.99,2009,1.183836,41.42,338.0,0.12,0.10
3848,Fun With Duplo Bricks,"$29.99 | ,33.3c,USA: May 09, UK/EU: Jun 09,Normal","""5486""",5.0,29.99,2009,1.183836,35.50,90.0,0.39,0.33
3849,Fun With LEGO Bricks,"$29.99 | ,4.3c,Box,Retail,USA: May 09, UK/EU: ...","""5487""",5.0,29.99,2009,1.183836,35.50,700.0,0.05,0.04
3850,Duplo Farm Building Set,"$39.99 | ,39.2c,USA: May 09, UK/EU: Jun 09,Normal","""5488""",5.0,39.99,2009,1.183836,47.34,102.0,0.46,0.39
3851,Ultimate LEGO Vehicle Building Set,"$44.99 | ,6.7c,Tub,Retail,USA: Jun 09, UK/EU: ...","""5489""",5.0,44.99,2009,1.183836,53.26,675.0,0.08,0.07
3852,Duplo Creative Bucket,"$29.99 | ,39.5c,Bucket,Retail,USA: May 09, UK/...","""5538""",5.0,29.99,2009,1.183836,35.50,76.0,0.47,0.39
3853,Creative Bucket,"$29.99 | ,6.2c,Bucket,Retail,USA: Dec 08, UK/E...","""5539""",5.0,29.99,2009,1.183836,35.50,480.0,0.07,0.06
3854,Stanley at Great Waterton,"$19.99 | ,105.2c,Box,Retail,USA: May 09, UK/EU...","""5545""",2.0,19.99,2009,1.183836,23.66,19.0,1.25,1.05
3855,Thomas at Morgan's Mine,"$29.99 | ,136.3c,Box,Retail,USA: May 09, UK/EU...","""5546""",2.0,29.99,2009,1.183836,35.50,22.0,1.61,1.36
3856,James Celebrates Sodor Day,"$29.99 | ,88.2c,Box,Retail,USA: May 09, UK/EU:...","""5547""",2.0,29.99,2009,1.183836,35.50,34.0,1.04,0.88
3857,Large Pink Brick Box,"$29.99 | ,7.5c,Tub,Retail,USA: May 09, UK/EU: ...","""5560""",2.0,29.99,2009,1.183836,35.50,402.0,0.09,0.07
3858,Basic Bricks with Fun Figures,"$19.99 | ,5.1c,Box,Retail,USA: Dec 08, UK/EU: ...","""5587""",2.0,19.99,2009,1.183836,23.66,390.0,0.06,0.05
3859,My First Plane,"$14.99 | ,187.4c,USA: Jun 09, UK/EU: Jun 09,No...","""5592""",2.0,14.99,2009,1.183836,17.75,8.0,2.22,1.87
3860,Cargo Plane,"$49.99 | ,178.5c,USA: May 09, UK/EU: Jun 09,No...","""5594""",2.0,49.99,2009,1.183836,59.18,28.0,2.11,1.79
3861,Airport,"$89.99 | ,152.5c,USA: Aug 09, UK/EU: Aug 09,No...","""5595""",2.0,89.99,2009,1.183836,106.53,59.0,1.81,1.53
3862,Animal Care,"$7.99 | ,199.8c,USA: May 09, UK/EU: Mar 09,Normal","""5632""",2.0,7.99,2009,1.183836,9.46,4.0,2.37,2.00
...,...,...,...,...,...,...,...,...,...,...,...
4129,LEGO Star Wars Stormtrooper T-shirt,"$16.99 | ,USA: Jul 09,Gear","""852763""",4.0,16.99,2009,1.183836,20.11,NaN,NaN,NaN
4130,LEGO Star Wars Darth Vader T-shirt,"$16.99 | ,USA: Jul 09,Gear","""852764""",4.0,16.99,2009,1.183836,20.11,NaN,NaN,NaN
4131,LEGO Star Wars 10yr Anniversary T-shirt,"$16.99 | ,USA: Aug 09,Gear","""852765""",4.0,16.99,2009,1.183836,20.11,NaN,NaN,NaN
4132,LEGO Star Wars Jango Fett Pen,"$9.99 | ,USA: Feb 09,Gear","""2851070""",4.0,9.99,2009,1.183836,11.83,NaN,NaN,NaN
4133,LEGO Star Wars Darth Maul Pen,"$9.99 | ,USA: Feb 09,Gear","""2851126""",4.0,9.99,2009,1.183836,11.83,NaN,NaN,NaN
4134,LEGO Star Wars Luke Skywalker Pen,"$9.99 | ,USA: Feb 09,Gear","""2851134""",4.0,9.99,2009,1.183836,11.83,NaN,NaN,NaN
4135,LEGO Star Wars Tusken Raider Pen,"$9.99 | ,USA: Feb 09,Gear","""2851135""",4.0,9.99,2009,1.183836,11.83,NaN,NaN,NaN
4136,Stormtrooper Adult Watch,"$29.99 | ,USA: Feb 09, UK/EU: Feb 09,Gear","""2851185""",4.0,29.99,2009,1.183836,35.50,NaN,NaN,NaN
4137,Darth Vader Adult Watch,"$29.99 | ,USA: Feb 09, UK/EU: Feb 09,Gear","""2851190""",4.0,29.99,2009,1.183836,35.50,NaN,NaN,NaN
4138,Obi-Wan Kenobi Adult Watch,"$29.99 | ,USA: Jun 09, UK/EU: Feb 09,Gear","""2851191""",4.0,29.99,2009,1.183836,35.50,NaN,NaN,NaN
4139,C-3PO Watch,"$19.99 | ,USA: Feb 09, UK/EU: Jan 09,Gear","""2851192""",4.0,19.99,2009,1.183836,23.66,NaN,NaN,NaN
4140,Darth Maul Watch,"$24.99 | ,USA: Feb 09, UK/EU: Jan 09,Gear","""2851193""",4.0,24.99,2009,1.183836,29.58,NaN,NaN,NaN
4141,Han Solo Watch,"$19.99 | ,USA: Feb 09, UK/EU: Jan 09,Gear","""2851194""",4.0,19.99,2009,1.183836,23.66,NaN,NaN,NaN
4142,Obi-Wan Kenobi Watch,"$19.99 | ,USA: Feb 09, UK/EU: Jan 09,Gear","""2851195""",4.0,19.99,2009,1.183836,23.66,NaN,NaN,NaN
4143,Classic Brick Adult Watch,"$29.99 | ,USA: Feb 09, UK/EU: Jan 09,Gear","""2851196""",4.0,29.99,2009,1.183836,35.50,NaN,NaN,NaN
4144,Luke Skywalker & Han Solo Adult Watch,"$29.99 | ,USA: Feb 09, UK/EU: Feb 09,Gear","""2851198""",4.0,29.99,2009,1.183836,35.50,NaN,NaN,NaN
4145,BIONICLE: The Legend Reborn,"$19.99 | ,USA: Sep 09, UK/EU: Oct 09,Gear","""2853367""",4.0,19.99,2009,1.183836,23.66,NaN,NaN,NaN
4146,Space Police Watch,"$19.99 | ,USA: Nov 09, UK/EU: Nov 09,Gear","""2853399""",4.0,19.99,2009,1.183836,23.66,NaN,NaN,NaN
4147,Power Miners Watch,"$19.99 | ,USA: Nov 09, UK/EU: Nov 09,Gear","""2853401""",4.0,19.99,2009,1.183836,23.66,NaN,NaN,NaN
4148,LEGO Rock Band,"$39.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853586""",4.0,39.99,2009,1.183836,47.34,NaN,NaN,NaN
4149,LEGO Rock Band,"$19.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853587""",4.0,19.99,2009,1.183836,23.66,NaN,NaN,NaN
4150,LEGO Rock Band,"$39.99 | ,USA: Nov 09, UK/EU: Jan 10,Gear","""2853591""",4.0,39.99,2009,1.183836,47.34,NaN,NaN,NaN
4151,LEGO Rock Band,"$39.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853592""",4.0,39.99,2009,1.183836,47.34,NaN,NaN,NaN
4152,LEGO Indiana Jones 2: The Adventure Continues,"$49.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853593""",4.0,49.99,2009,1.183836,59.18,NaN,NaN,NaN
4153,LEGO Indiana Jones 2: The Adventure Continues,"$49.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853594""",4.0,49.99,2009,1.183836,59.18,NaN,NaN,NaN
4154,LEGO Indiana Jones 2: The Adventure Continues,"$29.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853595""",4.0,29.99,2009,1.183836,35.50,NaN,NaN,NaN
4155,LEGO Indiana Jones 2: The Adventure Continues,"$49.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853596""",4.0,49.99,2009,1.183836,59.18,NaN,NaN,NaN
4156,LEGO Indiana Jones 2: The Adventure Continues,"$29.99 | ,USA: Nov 09, UK/EU: Dec 09,Gear","""2853597""",5.0,29.99,2009,1.183836,35.50,NaN,NaN,NaN
4157,3-Seat Playtable,"$299.99 | ,USA: Nov 09,Gear","""2853656""",5.0,299.99,2009,1.183836,355.14,NaN,NaN,NaN
4158,LEGO Battles,"$29.99 | ,USA: Jun 09,Gear","""4580307""",5.0,29.99,2009,1.183836,35.50,NaN,NaN,NaN

In [49]:
price_all.to_csv("price_adj.csv",index=False)